<app-c-header [home]="false" titulo="Recuperación"></app-c-header>


<ion-content>


  <div class="ion-text-center">
    <ion-img style="height: 250px; padding-top: 20px;"
      src="../../../assets/image/logo.png"
      alt="se callo la wea"
    ></ion-img>
  </div>

  

<ion-card>
  
<ion-card-content>

  <form [formGroup]="formulario_recuperar">

    <p class="ion-text-center">Para recuperar su clave ingrese su correo electronico</p>

  <ion-item>
 
    <ion-input label="Email:" labelPlacement="floating" formControlName="email"></ion-input>
  </ion-item>
      <div *ngIf="formulario_recuperar.get('email')?.touched && formulario_recuperar.get('email')?.invalid">
      <ion-text color="danger"  class="centrar_notificacion">
        <ng-container class="centrar_notificacion" *ngIf="formulario_recuperar.get('email')?.errors?.['required']" >El email es requerido.</ng-container>
        <ng-container class="centrar_notificacion" *ngIf="formulario_recuperar.get('email')?.errors?.['pattern']" >El email no es valido.</ng-container>
      </ion-text>
    </div>



    <ion-button class="ion-padding" expand="block"  (click)="ingresar()" >Recuperar</ion-button>
 

</form>



</ion-card-content>
</ion-card>



</ion-content>  